<div class="mat-elevation-z8">
  <ng-container *ngTemplateOutlet="getTemplate()"></ng-container>
  <ng-template #tableContent> </ng-template>
</div>

<ng-template #mobileTemplate>
  <mat-card *ngFor="let item of beers" class="example-card">
    <mat-card-title>{{ item.name }}</mat-card-title>
    <mat-card-subtitle>{{'data_table.tagline' | translate}}: {{ item.tagline }}</mat-card-subtitle>
    <img mat-card-image [src]="item.image_url"  class="img-responsive" alt="Photo of {{ item.name }}" />
    <mat-card-content>

      <p>{{'data_table.first_brewed' | translate}}: {{ item.first_brewed }}</p>
      <p>{{'data_table.description' | translate}}: {{ item.description }}</p>
      <p>{{'data_table.food_pairing' | translate}}:</p>

        <p *ngFor="let food of item.food_pairing">{{ food }}</p>

    </mat-card-content>

      <mat-icon
            aria-hidden="false"
            class="icon"
            (click)="goToDetails(item)"
            [matTooltip]="clickForInfo"
            matTooltipPosition="above"
            matTooltipHideDelay="100"
            >shortcut
          </mat-icon>
          <p>{{'data_table.details' | translate}}</p>

  </mat-card>
</ng-template>

<ng-template #desktopTemplate>
  <table mat-table [dataSource]="beers" class="responsive-table">
    <ng-container
      [matColumnDef]="item"
      *ngFor="let item of displayedColumns; let i = index"
      [ngSwitch]="item"
    >
      <ng-container *ngSwitchCase="'image_url'">
        <th mat-header-cell *matHeaderCellDef>
          <h2>{{ displayedColumnsName[i] }}</h2>
        </th>
        <td mat-cell *matCellDef="let element">

            <img [src]="element[item]" alt="Image" class="img-responsive" />

        </td>
      </ng-container>
      <ng-container *ngSwitchCase="'description'">
        <th mat-header-cell *matHeaderCellDef>
          <h2>{{ displayedColumnsName[i] }}</h2>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon
            aria-hidden="false"
            class="icon"
            [matTooltip]="clickForInfo"
            (click)="selectBeer(element)"
            matTooltipPosition="above"
            matTooltipHideDelay="100"
            >info_outline
          </mat-icon>
        </td>
      </ng-container>
      <ng-container *ngSwitchCase="'ingredients'">
        <th mat-header-cell *matHeaderCellDef>
          <h2>{{ displayedColumnsName[i] }}</h2>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon
            aria-hidden="false"
            class="icon"
            (click)="goToDetails(element)"
            [matTooltip]="clickForInfo"
            matTooltipPosition="above"
            matTooltipHideDelay="100"
            >shortcut
          </mat-icon>
        </td>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <th mat-header-cell *matHeaderCellDef>
          <h2>{{ displayedColumnsName[i] }}</h2>
        </th>
        <td mat-cell *matCellDef="let element">{{ element[item] }}</td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-template>


<ng-template #customDialogTemplate>
  <h1 mat-dialog-title>{{selectedBeer.name}}</h1>
  <mat-dialog-content>
    <div class="dialog-content">
      <img [src]="selectedBeer.image_url" alt="Beer Image" class="beer-image">
      <p class="beer-description">{{ selectedBeer.description }}</p>
    </div>
  </mat-dialog-content>


</ng-template>
