/* Estilo para el pie de página */
.footer {
  background-color: #333; /* Color de fondo del pie de página */
  color: #fff; /* Color del texto en el pie de página */
  padding: 20px 0; /* Espaciado interno superior e inferior */
}

/* Estilo para el enlace en el pie de página */
.footer a {
  color: #fff; /* Color de los enlaces */
  text-decoration: none; /* Quita la subraya de los enlaces */
  margin-right: 15px; /* Espaciado entre enlaces */
}

/* Estilo para el enlace al pasar el mouse por encima */
.footer a:hover {
  text-decoration: underline; /* Subraya el enlace al pasar el mouse por encima */
}
