.mobile-beer-details {
  padding: 10px;
  background-color: #f2f2f2;
}

.icon {
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 10px;
}

.beer-details-container {
  text-align: center;
}

.beer-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  margin: 5px 0;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

strong {
  font-weight: bold;
}
